

.flex-container {
  display: flex;
}

.alert-container {
  overflow: hidden;
  text-align: center;
}

.alert > small {
  font-size: 0.8em;
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-left: 0.8em;
}

.alert {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(222, 39, 76);
  color: #FFFFFF;
  height: 3rem;
  padding: 4px 1.2em;
  transition: all 0.5s 0s ease-in-out;
  transform-origin: 0% 50%;
  transform: translateX(-101%);
  z-index: 1;
}

.alert.show {
  transform: translateX(0);
}

#new-tweet-form > label {
  font-weight: bold;
  font-size: 1.2em;
}

#new-tweet-form > textarea {
  width: 100%;
  margin-top: 15px;
  border: none;
  outline: none;
  border-bottom: 4px solid grey;
  background: inherit;
  resize: none;
  font-weight: bold;
}

#new-tweet-form > .fl-between-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  margin-top: .5em;
  font-family: 'Bungee', sans-serif; 
}

#new-tweet-form .submit {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 4px 12px;
  height: 3rem;
  outline: none;
  border: none;
  z-index: 2;
}


#new-tweet-form .submit:hover {
  background-color: #4e65b0;
  box-shadow: 3px 3px 0 rgba(120, 120, 120, 0.5);
}

#new-tweet-form .counter {
  color: inherit;
  margin-left: 1em;
}

#new-tweet-form .counter.overlimit {
  color: red;
}